* {
  margin: 0px;
  padding: 0px;
}

.mypageTitle {
  margin: 20px 40px;
}


/* MypageStart */

.mypageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 80px;
}
.passowordBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #eee;
  border-radius: 5px;
  width: 500px;
  height: 300px;
}
.passwordCheckInput {
  background-color: white;
  width: 300px;
  height: 40px;
  font: 20px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
}

.errorMassage {
  color: #ec4e10;
  margin: 0px auto;
}

.infoUpdateBtn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #c9c9c9;
}
.infoUpdateBtn:hover {
  cursor: pointer;
  background-color: #929292;
}
.deleteUserIdBtn {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ec4e10;
  color: #fff;
}
.deleteUserIdBtn:hover {
  cursor: pointer;
}
.deleteUserIdBtn:hover {
  cursor: pointer;
  background-color: #c90000;
}

/* GetUserInfo */
.innerBox {
  width: 400px;
  margin: 0 auto;
}

.userInfoBox {
  background-color: #ffffff;
  padding: 25px;
  width: 400px;
  height: 490px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nickNameDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nickNameInput {
  width: 60%;
}

.userInfoUl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 0;
}

.userInfoUldetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px;
}

.duplicationMsgLi {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
}

.nickNameInputBtn {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.duplicationMsg {
  font-size: 10px;
  padding: 0px;
  color: #c90000;
}

.userTitleli {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  font-size: 12px;
}

.userli {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  flex: 1; 
  max-width: 300px;
  font-size: 12px;

}


/* 닉네임 중복 확인 */
.nickNameBox {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  font-size: 12px;
}

.duplicationNickNameBtn {
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5%;
  width: 35%;
  text-align: center;
}

.userInfoNickNameLi {
  display: flex;
  flex-direction: column;
}

.duplicationNickNameBtn:hover {
  background-color: #e5673b;
}

.duplicationNickName {
  margin-left: 10px;
  font-size: 14px;
  color: #ff6347;
}

/* 주소 스타일 */
.addressBox {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}

.addressSelectUI {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

/* 성별 스타일 */
.genderBox {
  font-weight: bold;
  font-size: 12px;
}

/* 선호 카테고리 */
.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.categoryButton {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categoryButton:hover {
  background-color: #e5673b;
}

/* 프로필 이미지 등록 */
.imgDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.imgBox img {
  height: 120px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.imgBox input {
  margin-top: 10px;
  font-size: 14px;
  border: none;

}

/* 버튼 스타일 */
.updateBtn,
.updateCancel {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.updateBtn:hover,
.updateCancel:hover {
  background-color: #e5673b;
}

.updateCancel {
  background-color: #aaa;
}

.updateCancel:hover {
  background-color: #888;
}
